.name-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-end;

}

.icon-btn {
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
}

.archived-table-content td,
.archived-table-content .name-row {
  white-space: nowrap;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notes-table-content td,
.notes-table-content .name-row div {
  word-break: break-all;
  max-width: 450px;
}